# Binance Futures Testnet API Credentials
# Get these from: https://testnet.binancefuture.com
BINANCE_API_KEY=tbvN7s218BqBmpHuHaqkqshCpdRawettr3EXgWtdFHDeZYwk9g3sTl9Rcem8xIVg
BINANCE_API_SECRET=zFuKqd3OGeiiDIupsefgbQwDYkGsqCI0jOaLsQiyNTHli1dPd40SnZTlSeKqkicr
